In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd
import numpy as np
import time

In [2]:
df=pd.read_excel("C:/Users/xnote/Desktop/잡플래닛_기업리스트.xlsx")
df.set_index('Unnamed: 0',inplace=True)

In [10]:
! pip install requests

Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (4.0.0)

# 로드
1. url을 회사별로 구하고, 없는 건 빈칸으로 둔다.
2. salary를 더한 url을 구하고 오류나면 빈칸, 오류가 안나면 추가
3. 결과적으로 스키마는 회사명, 링크, 연봉링크로 되어있고 여기서 연봉 링크에 해당하는 것에서만 입퇴사자 추이를 구한다.

In [763]:
pd.set_option('display.max_row', 6000)
pd.set_option('display.max_columns', 100)

In [589]:
url_df = {
    '회사명' : [],
    '링크' : []
}
url_df = pd.DataFrame(url_df)
url_df

Empty DataFrame
Columns: [회사명, 링크]
Index: []

In [ ]:
import requests
import urllib.parse
from bs4 import BeautifulSoup

dic = {'(주)하나투어':1, '(주)유베이스':3}
urls=[]
for col in df.columns:
    for c in df[col]:
        baseurl = 'https://www.jobkorea.co.kr/Search/?stext='+urllib.parse.quote_plus(c)+'&tabType=corp&Page_No=1'
        response = requests.get(baseurl)
        html = BeautifulSoup(response.text, 'html.parser')
        try: 
            tags = html.select('#content > div > div > div.cnt-list-wrap > div > div.corp-info > div.lists > div > div.list-default > ul')[0].find_all('a')
            if (c=='(주)하나투어') | (c=='(주)유베이스'):
                url_df.loc[len(url_df)] = [c,'https://www.jobkorea.co.kr'+tags[dic[c]].attrs['href']]
            else: url_df.loc[len(url_df)] = [c,'https://www.jobkorea.co.kr'+tags[0].attrs['href']]
            print(c)
        except IndexError:
            url_df.loc[len(url_df)] = [c,'']

In [ ]:
link_list_salary=[]
for url in url_df['링크'].tolist():
    if url=='': link_list_salary.append(url)
    else:
        url=url+'/salary'
        link_list_salary.append(url)

In [634]:
len(link_list_salary_nonerror)

855

## 평균연봉 + 근속연수

In [615]:
link_list_salary=[]
for url in urls:
    url=url+'/salary'
    link_list_salary.append(url)

In [192]:
company_salary = {
    '회사명' : [],
    '평균연봉' : [],
    '근속연수' : []
}
company_salary = pd.DataFrame(company_salary)
company_salary

Empty DataFrame
Columns: [회사명, 평균연봉, 근속연수]
Index: []

In [193]:
def crawl1():
    data_list=[]
    try:
        # 회사명 가져오기
        data_list.append(driver.find_element_by_xpath('/html/body/div[1]/div[4]/div[2]/div[1]/div/div[2]/div[2]').text)
        # 위치가 잘못 설정되어 '공유'로 가져올 경우, 위치 변경
        if data_list[0]=='공유':
            data_list.remove('공유')
            data_list.append(driver.find_element_by_xpath('/html/body/div[1]/div[4]/div[2]/div[1]/div/div[1]/div[2]').text)
            
        try:
            # 연봉 가져오기
            data_list.append(driver.find_element_by_xpath('//*[@id="company-body"]/section/article/div[1]/div/div[2]/div[1]/div[1]/div[1]').text)
        except:
            # 연봉이 없을 경우(?)
            data_list.append('error')
        try:
            # 근속연수 가져오기
            a = driver.find_element_by_xpath('//*[@id="company-body"]/section/article/div[1]/div/div[2]/div[1]/div[2]/div[2]/strong').text
            try:
                # 근속연수란에 숫자형 있는 경우, 제외
                if type(int(a))==int:
                    data_list.append('-')
            except:
                # 제대로 있다면 근속연수 그대로 가져오기
                data_list.append(a)
        except:
            # 근속연수란이 없을 경우, 제외
            data_list.append('-')
            
    # 위치가 잘못 설정되어 아예 오류를 반환할 경우
    except:
        try:
            # 회사명 가져오기
            data_list.append(driver.find_element_by_xpath('/html/body/div[1]/div[4]/div[2]/div[1]/div/div[1]/div[2]').text)
            try:
                # 연봉 가져오기
                data_list.append(driver.find_element_by_xpath('//*[@id="company-body"]/section/article/div[1]/div/div[2]/div[1]/div[1]/div[1]').text)
            except:
                data_list.append('error')
            try:
                a = driver.find_element_by_xpath('//*[@id="company-body"]/section/article/div[1]/div/div[2]/div[1]/div[2]/div[2]/strong').text
                try:
                    if type(int(a))==int:
                        data_list.append('-')
                except:
                    data_list.append(a)
            except:
                data_list.append('-')
            
        except:
            for _ in range(3):
                data_list.append('error')
                
    company_salary.loc[len(company_salary)] = data_list
    print(i)

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

driver = webdriver.Chrome('C:/Program Files (x86)/Google/Chrome/Application/chromedriver')

for i, link in enumerate(link_list_salary):
    driver.get(link)
    time.sleep(0.5)
    crawl1()
    print(link)

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

driver = webdriver.Chrome('C:/Program Files (x86)/Google/Chrome/Application/chromedriver')

for i, link in enumerate(link_list_salary[874:]):
    driver.get(link)
    time.sleep(0.5)
    crawl1()
    print(link)

In [ ]:
company_salary_copy=company_salary.copy()
company_salary_copy

In [323]:
for i in range(959):
    try:
        m=company_salary['근속연수'][i]
        m=m.replace(',','')
        if type(int(m))==int:
            company_salary['근속연수'][i]='-'
    except:
        pass

In [337]:
company_salary_copy2=company_salary_copy[company_salary_copy['회사명']!='error']
company_salary_copy3=company_salary_copy2[company_salary_copy2['근속연수']!='-']

In [342]:
company_salary_copy3.to_excel('C:/Users/xnote/Desktop/잡코리아 근속연수.xlsx',index=False)

## 입퇴사자 추이

In [754]:
company_entrant_retiree = {
    '회사명' : [],
    '월' : [], 
    '총인원' : [], 
    '입사자수' : [],
    '퇴사자수' : []
}
company_entrant_retiree = pd.DataFrame(company_entrant_retiree)
company_entrant_retiree

Empty DataFrame
Columns: [회사명, 월, 총인원, 입사자수, 퇴사자수]
Index: []

In [757]:
def crawl3(company_name):
        try:
            data_list=[]
            # 연월 첫번째가 없는 것은 아예 링크가 없는 것이므로 전체 패스
            data_list.append(driver.find_element_by_css_selector(f'#chartMonthlyLeavePerson > svg > text:nth-child({11}) > tspan').text)
            for i in range(6,12):
                data_list=[company_name]
                try:
                    # 연월
                    data_list.append(driver.find_element_by_css_selector(f'#chartMonthlyLeavePerson > svg > text:nth-child({17-i}) > tspan').text)
                except:
                    data_list.append('-')
                try:
                    # 총인원
                    data_list.append(driver.find_element_by_css_selector(f'#chartMonthlyTotalPerson > svg > text:nth-child({i*2+11}) > tspan').text)
                except:
                    data_list.append('-')
                try:
                    # 입사자수
                    data_list.append(driver.find_element_by_css_selector(f'#chartMonthlyLeavePerson > svg > text:nth-child({4*i-6}) > tspan').text)
                except:
                    data_list.append('-')
                try:
                    # 퇴사자수
                    data_list.append(driver.find_element_by_css_selector(f'#chartMonthlyLeavePerson > svg > text:nth-child({4*i-5}) > tspan').text)
                except:
                    data_list.append('-')
                company_entrant_retiree.loc[len(company_entrant_retiree)] = data_list
                print(data_list)
        except:
            data_list=[company_name]
            for _ in range(4):
                data_list.append('-')
            company_entrant_retiree.loc[len(company_entrant_retiree)] = data_list

In [806]:
a=x1['회사명'].tolist()
b=x1['링크'].tolist()
ab=zip(a,b)

In [ ]:
driver = webdriver.Chrome('C:/Program Files (x86)/Google/Chrome/Application/chromedriver')
for company_name, link in ab:
    if link!='':
        driver.get(link)
        time.sleep(2)
        crawl3(company_name)
        print(link)
    else:
        data_list=[company_name]
        for _ in range(4):
            data_list.append('-')
        company_entrant_retiree.loc[len(company_entrant_retiree)] = data_list
        print(data_list)

In [890]:
company_entrant_retiree=company_entrant_retiree.rename(columns={'월':'연월'})

In [891]:
company_entrant_retiree2=company_entrant_retiree[company_entrant_retiree['총인원']!='-']
company_entrant_retiree2.replace('-','0',inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [830]:
company_entrant_retiree.to_excel('C:/Users/xnote/Desktop/잡코리아 입퇴사자추이_원본.xlsx',index=False)

In [919]:
company_entrant_retiree3.replace(np.nan,'0',inplace=True)

In [920]:
import re
num_list1=[]
for string in company_entrant_retiree3['총인원']:
    num_list1.append(int(re.sub(r'[^a-zA-Z0-9]','',string)))
    
num_list2=[]
for string in company_entrant_retiree3['입사자수']:
    num_list2.append(int(re.sub(r'[^a-zA-Z0-9]','',str(string))))
    
num_list3=[]
for string in company_entrant_retiree3['퇴사자수']:
    num_list3.append(int(re.sub(r'[^a-zA-Z0-9]','',str(string))))

In [923]:
company_entrant_retiree3['총인원']=num_list1
company_entrant_retiree3['입사자수']=num_list2
company_entrant_retiree3['퇴사자수']=num_list3

In [931]:
company_entrant_retiree3.to_excel('C:/Users/xnote/Desktop/잡코리아 입퇴사자추이.xlsx',index=False)

## 재무분석 - 신용등급

In [387]:
company_credit_rating = {
    '회사명' : [],
    '신용등급' : []
}
company_credit_rating = pd.DataFrame(company_credit_rating)
company_credit_rating

Empty DataFrame
Columns: [회사명, 신용등급]
Index: []

In [393]:
def crawl(i,link):
    data_list=[]
    try:
        # 회사명 가져오기
        data_list.append(driver.find_element_by_xpath('/html/body/div[1]/div[4]/div[2]/div[1]/div/div[2]/div[2]').text)
        # 위치가 잘못 설정되어 '공유'로 가져올 경우, 위치 변경
        if data_list[0]=='공유':
            data_list.remove('공유')
            data_list.append(driver.find_element_by_xpath('/html/body/div[1]/div[4]/div[2]/div[1]/div/div[1]/div[2]').text)
        # 신용등급 가져오기
        for a,b in [(2,5), (2,6), (3,5), (3,6), (2,3), (3,3), (2,4), (3,4),(2,2),(3,2)]:
            try: 
                data_list.append(driver.find_element_by_xpath(f'//*[@id="company-body"]/div[1]/div[{a}]/div/div/div[{b}]/div[3]/div[1]/div/strong').text)
                break
            except:
                if (a,b)!=(3,2): pass
                else:
                    data_list.append('error')
    except:
        # 혹시 모를 회사명 위치 잘못 선정할 경우 대비 예외 처리
        try: 
            data_list.append(driver.find_element_by_xpath('/html/body/div[1]/div[4]/div[2]/div[1]/div/div[1]/div[2]').text)
            for a,b in [(2,5), (2,6), (3,5), (3,6), (2,3), (3,3), (2,4),(3,4),(2,2),(3,2)]:
                try: 
                    data_list.append(driver.find_element_by_xpath(f'//*[@id="company-body"]/div[1]/div[{a}]/div/div/div[{b}]/div[3]/div[1]/div/strong').text)
                    break
                except:
                    if (a,b)!=(3,2): pass
                    else:
                        data_list.append('error')
        except:
            for _ in range(2):
                data_list.append('error')
    company_credit_rating.loc[len(company_credit_rating)] = data_list
    print(i)
    print(link)

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

driver = webdriver.Chrome('C:/Program Files (x86)/Google/Chrome/Application/chromedriver')

for i, link in enumerate(link_list_info[896:]):
    driver.get(link)
    time.sleep(0.5)
    crawl(i,link)

In [ ]:
company_credit_rating=pd.read_excel('C:/Users/xnote/Desktop/잡코리아 신용등급.xlsx')
company_credit_rating

In [472]:
company_credit_rating.to_excel('C:/Users/xnote/Desktop/잡코리아 신용등급.xlsx',index=False)