In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from time import sleep
import pandas as pd
import numpy as np
import time

In [10]:
pd.set_option('display.max_row', 1000)
pd.set_option('display.max_columns', 100)

In [2]:
df=pd.read_excel("C:/Users/xnote/Desktop/crawling/잡플래닛_기업리스트.xlsx")
df.set_index('Unnamed: 0',inplace=True)

In [3]:
# name=[]
# for i in range(10):
#     name.extend(df.values[:,i].tolist())
# name

In [22]:
url_df = pd.DataFrame(columns = ['회사명', '링크'])
url_df

Empty DataFrame
Columns: [회사명, 링크]
Index: []

In [23]:
def get_page(number):
    # 공고 수가 21의 배수인 경우와 아닌 경우의 page 수
    if number % 21 != 0:
        pages = number // 21 + 1
    else:
        pages = number // 21
    
    # 페이지가 10 초과인 경우, 페이지 10으로 맞추기
    if pages >= 10: 
        pages=10
    else: pass
    
    p_list = [i+1 for i in range(pages)]
    
    return p_list

In [ ]:
import re
import requests
import urllib.parse
from bs4 import BeautifulSoup

data = pd.read_excel("C:/Users/xnote/Desktop/crawling/기업명_기업번호.xlsx")
name_list = list(data['기업명'])
number_list = list(data['기업번호'])

for name, num in zip(name_list, number_list):
        baseurl = f'https://www.jobplanet.co.kr/companies/{num}/job_postings?occupation_id=&occupation_level2_id=&recruitment_type_id=&city_id=&show_ended=true&order_by=recent&page=1'
        response = requests.get(baseurl)
        html = BeautifulSoup(response.text, 'html.parser')
        number = html.select_one('#filter_form > div.comp_job_filter > div > div > p > strong').text
        number = int(re.sub(r'[^a-zA-Z0-9]','',number))
        if number != 0:
            p_list = get_page(number)
            
            for page in p_list:
                baseurl = f'https://www.jobplanet.co.kr/companies/{num}/job_postings?occupation_id=&occupation_level2_id=&recruitment_type_id=&city_id=&show_ended=true&order_by=recent&page={page}'
                response = requests.get(baseurl)
                html = BeautifulSoup(response.text, 'html.parser')
                tags = html.select('div.job_bd_in > div.items.job_items > div > a')
                for tag in tags:
                    print(name)
                    link="https://www.jobplanet.co.kr" + tag.attrs['href']
                    print(link)
                    url_df.loc[len(url_df)] = [name, link]
        else: pass

In [26]:
url_df.to_excel('C:/Users/xnote/Desktop/잡플래닛_공고url.xlsx',index=False)

In [104]:
company_info = {
    '산업' : [],
    '기업형태' : [],
    '사원수' : [],
    '설립' : [],
    '대표' : [],
    '매출' : [],
    '주소' : [],
    '웹사이트' : [],
    '연혁' : [],
    '소개' : []
}
company_info = pd.DataFrame(company_info)
company_info

Empty DataFrame
Columns: [산업, 기업형태, 사원수, 설립, 대표, 매출, 주소, 웹사이트, 연혁, 소개]
Index: []

In [ ]:
import re
import requests
import urllib.parse
from bs4 import BeautifulSoup
i=-1
for url in urls:
    data = []
    i+=1
    response = requests.get(url)
    html = BeautifulSoup(response.text, 'html.parser')
    try:
        data.append(html.select_one('#contents_wrap > div > div:nth-child(1) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(1) > div > div > strong').text)
        data.append(html.select_one('#contents_wrap > div > div:nth-child(1) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(2) > div > div > strong').text)
        data.append(html.select_one('#contents_wrap > div > div:nth-child(1) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(3) > div > div > strong').text)
        data.append(html.select_one('#contents_wrap > div > div:nth-child(1) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(4) > div > div > strong').text)
        data.append(html.select_one('#contents_wrap > div > div:nth-child(1) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(1) > dl > dd').text)
        data.append(html.select_one('#contents_wrap > div > div:nth-child(1) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(2) > dl > dd').text)
        data.append(html.select_one('#contents_wrap > div > div:nth-child(1) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(3) > dl > dd').text)
        data.append(html.select_one('#contents_wrap > div > div:nth-child(1) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(4) > dl > dd').text)
        data.append(html.select_one('#contents_wrap > div > div:nth-child(1) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(5) > dl > dd').text.replace('\n',' '))
        data.append(html.select_one('#contents_wrap > div > div:nth-child(1) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(6) > dl > dd').text.replace('\n',' '))
    except:
        try:
            data.append(html.select_one('#contents_wrap > div > div:nth-child(3) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(1) > div > div > strong').text)
            data.append(html.select_one('#contents_wrap > div > div:nth-child(3) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(2) > div > div > strong').text)
            data.append(html.select_one('#contents_wrap > div > div:nth-child(3) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(3) > div > div > strong').text)
            data.append(html.select_one('#contents_wrap > div > div:nth-child(3) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(4) > div > div > strong').text)
            data.append(html.select_one('#contents_wrap > div > div:nth-child(3) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(1) > dl > dd').text)
            data.append(html.select_one('#contents_wrap > div > div:nth-child(3) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(2) > dl > dd').text)
            data.append(html.select_one('#contents_wrap > div > div:nth-child(3) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(3) > dl > dd').text)
            data.append(html.select_one('#contents_wrap > div > div:nth-child(3) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(4) > dl > dd').text)
            data.append(html.select_one('#contents_wrap > div > div:nth-child(3) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(5) > dl > dd').text.replace('\n',' '))
            data.append(html.select_one('#contents_wrap > div > div:nth-child(3) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(6) > dl > dd').text.replace('\n',' '))
        except:
            try:
                data.append(html.select_one('#contents_wrap > div > div:nth-child(2) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(1) > div > div > strong').text)
                data.append(html.select_one('#contents_wrap > div > div:nth-child(2) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(2) > div > div > strong').text)
                data.append(html.select_one('#contents_wrap > div > div:nth-child(2) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(3) > div > div > strong').text)
                data.append(html.select_one('#contents_wrap > div > div:nth-child(2) > div > div > div.basic_info_sec > div > ul.basic_info_list > li:nth-child(4) > div > div > strong').text)
                data.append(html.select_one('#contents_wrap > div > div:nth-child(2) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(1) > dl > dd').text)
                data.append(html.select_one('#contents_wrap > div > div:nth-child(2) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(2) > dl > dd').text)
                data.append(html.select_one('#contents_wrap > div > div:nth-child(2) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(3) > dl > dd').text)
                data.append(html.select_one('#contents_wrap > div > div:nth-child(2) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(4) > dl > dd').text)
                data.append(html.select_one('#contents_wrap > div > div:nth-child(2) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(5) > dl > dd').text.replace('\n',' '))
                data.append(html.select_one('#contents_wrap > div > div:nth-child(2) > div > div > div.basic_info_sec > div > ul.basic_info_more > li:nth-child(6) > dl > dd').text.replace('\n',' '))
            except:
                for _ in range(10): data.append('error')
    company_info.loc[len(company_info)] = data
    print(i)

In [108]:
pd.set_option('display.max_row', 1000)
pd.set_option('display.max_columns', 100)

In [112]:
a=company_info[company_info['산업']=='error'].index

Int64Index([277, 370, 388, 400, 401, 402, 403, 414, 415, 426, 430, 494, 600,
            630, 632, 634, 640, 663, 744],
           dtype='int64')

In [118]:
for i,b in enumerate([277, 370, 388, 400, 401, 402, 403, 414, 415, 426, 430, 494, 600, 630, 632, 634, 640, 663, 744]):
    print(i+1,urls[b])

1 https://www.jobplanet.co.kr/companies/88428/landing
2 https://www.jobplanet.co.kr/companies/93077/landing
3 https://www.jobplanet.co.kr/companies/63863/landing
4 https://www.jobplanet.co.kr/companies/87523/landing
5 https://www.jobplanet.co.kr/companies/86740/landing
6 https://www.jobplanet.co.kr/companies/88435/landing
7 https://www.jobplanet.co.kr/companies/66387/landing
8 https://www.jobplanet.co.kr/companies/86976/landing
9 https://www.jobplanet.co.kr/companies/238249/landing
10 https://www.jobplanet.co.kr/companies/93859/landing
11 https://www.jobplanet.co.kr/companies/309654/landing
12 https://www.jobplanet.co.kr/companies/156293/landing
13 https://www.jobplanet.co.kr/companies/87444/landing
14 https://www.jobplanet.co.kr/companies/88463/landing
15 https://www.jobplanet.co.kr/companies/52955/landing
16 https://www.jobplanet.co.kr/companies/61420/landing
17 https://www.jobplanet.co.kr/companies/86877/landing
18 https://www.jobplanet.co.kr/companies/96821/landing
19 https://www.jobplanet.co.kr/companies/89852/landing

In [ ]:
company_info_copy.insert(0,'회사명',name)

In [152]:
company_info_copy.to_excel('C:/Users/xnote/Desktop/company_info.xlsx',index=False)

## 리뷰

In [ ]:
review_urls=[]
for url in urls:
    review_url=url.split('/')
    review_url.remove('landing')
    review_url.append('reviews')
    review_urls.append('/'.join(review_url))

In [185]:
company_review = {
    '연봉' : [],
    '워라밸' : [],
    '커리어' : [],
    '조직문화' : [],
    '리뷰수' : []
}
company_review = pd.DataFrame(company_review)
company_review

Empty DataFrame
Columns: [연봉, 워라밸, 커리어, 조직문화, 리뷰수]
Index: []

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
from tqdm import tqdm

data = pd.read_excel("C:/Users/xnote/Desktop/기업명_기업번호.xlsx")
number_list = list(data['기업번호'])

link_list = []
for company_no in tqdm(number_list):
    link_list.append("https://www.jobplanet.co.kr/companies/"+str(company_no)+"/reviews")
    
#로그인
usr = "ltnals9810@soongsil.ac.kr"
pwd = "fkvlfkvl5566!!"

# options = webdriver.ChromeOptions()
# options.add_argument('headless')

driver = webdriver.Chrome('C:/Program Files (x86)/Google/Chrome/Application/chromedriver')

driver.get("https://www.jobplanet.co.kr/users/sign_in?_nav=gb")
time.sleep(2)

login_id = driver.find_element_by_css_selector("input#user_email")
login_id.send_keys(usr)

login_pwd = driver.find_element_by_css_selector("input#user_password")
login_pwd.send_keys(pwd)

driver.find_element_by_css_selector("button.btn_sign_up").click()
time.sleep(2)


for i, link in enumerate(link_list):
    driver.get(link)
    time.sleep(0.5)
    data_list=[]
    try:
        data_list.append(driver.find_element_by_xpath('//*[@id="premiumReviewStatistics"]/div[2]/div[1]/div/div[3]/div[2]/div[1]/div/div[2]/span[2]
                                                      '//*[@id="premiumReviewStatistics"]/div[2]/div[1]/div/div[3]/div[2]/div[2]/div/div[2]/span[2]
        data_list.append(driver.find_element_by_xpath('//*[@id="premiumReviewStatistics"]/div/div/div/div[2]/div[2]/div[1]/div/div[2]/span[2]').text)
        data_list.append(driver.find_element_by_xpath('//*[@id="premiumReviewStatistics"]/div/div/div/div[2]/div[2]/div[2]/div/div[2]/span[2]').text)
        data_list.append(driver.find_element_by_xpath('//*[@id="premiumReviewStatistics"]/div/div/div/div[2]/div[2]/div[4]/div/div[2]/span[2]').text)
        data_list.append(driver.find_element_by_xpath('//*[@id="premiumReviewStatistics"]/div/div/div/div[2]/div[2]/div[3]/div/div[2]/span[2]').text)
        data_list.append(driver.find_element_by_xpath('//*[@id="viewCompaniesMenu"]/ul/li[3]/a/span').text)
        company_review.loc[len(company_review)] = data_list
        print(i)
    except:
        for _ in range(5): 
            data_list.append('error')
        company_review.loc[len(company_review)] = data_list
        print(i)

In [193]:
company_review_copy=company_review.copy()

In [195]:
data = pd.read_excel("C:/Users/xnote/Desktop/기업명_기업번호.xlsx")
number_list = list(data['기업번호'])

link_list = []
for company_no in tqdm(number_list):
    link_list.append("https://www.jobplanet.co.kr/companies/"+str(company_no)+"/reviews")
    
#로그인
usr = "ltnals9810@soongsil.ac.kr"
pwd = "fkvlfkvl5566!!"

# options = webdriver.ChromeOptions()
# options.add_argument('headless')

driver = webdriver.Chrome('C:/Program Files (x86)/Google/Chrome/Application/chromedriver')

driver.get("https://www.jobplanet.co.kr/users/sign_in?_nav=gb")
time.sleep(2)

login_id = driver.find_element_by_css_selector("input#user_email")
login_id.send_keys(usr)

login_pwd = driver.find_element_by_css_selector("input#user_password")
login_pwd.send_keys(pwd)

driver.find_element_by_css_selector("button.btn_sign_up").click()
time.sleep(2)


for i in [97, 714, 743, 766]:
    driver.get(link_list[i])
    time.sleep(0.5)
    data_list=[]
    data_list.append(driver.find_element_by_xpath('//*[@id="premiumReviewStatistics"]/div[2]/div[1]/div/div[3]/div[2]/div[1]/div/div[2]/span[2]').text)
    data_list.append(driver.find_element_by_xpath('//*[@id="premiumReviewStatistics"]/div[2]/div[1]/div/div[3]/div[2]/div[2]/div/div[2]/span[2]').text)
    data_list.append(driver.find_element_by_xpath('//*[@id="premiumReviewStatistics"]/div[2]/div[1]/div/div[3]/div[2]/div[4]/div/div[2]/span[2]').text)
    data_list.append(driver.find_element_by_xpath('//*[@id="premiumReviewStatistics"]/div[2]/div[1]/div/div[3]/div[2]/div[3]/div/div[2]/span[2]').text)
    data_list.append(driver.find_element_by_xpath('//*[@id="viewCompaniesMenu"]/ul/li[3]/a/span').text)
    company_review_copy.iloc[i] = data_list
    print(i)

100%|██████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 964207.82it/s]

97
714
743
766

In [197]:
company_review_copy[company_review_copy['연봉']=='error'].index

Int64Index([], dtype='int64')

In [198]:
company_review_copy.iloc[[97, 714, 743, 766]]

      연봉  워라밸  커리어 조직문화  리뷰수
97   3.2  3.4  2.4  3.0  185
714  2.3  2.9  2.5  2.6  485
743  2.5  2.9  3.0  3.2  256
766  1.9  1.8  2.8  2.2  185

In [177]:
name=[]
for i in range(10):
    name.extend(df.values[:,i].tolist())

In [199]:
company_review_copy.insert(0,'회사명',name)

In [203]:
company_review_copy.to_excel('C:/Users/xnote/Desktop/company_review.xlsx',index=False)