In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

In [5]:
company = pd.read_excel('평균연봉_캐치_재수집필요.xlsx')
company = pd.Series(company['회사명'])
company[0]

'(주)에스원'

In [6]:
# 0. 드라이버
driver = webdriver.Chrome()

In [56]:
name = []
salary = []

for comp in company:
    driver.get(total_concat[total_concat[0] == comp][1].to_string(index=False))
    # driver.get(total_concat[total_concat=comp]) # 이거 아님!
    name.append(comp)
    try:
        if driver.find_elements_by_css_selector('#Contents > div:nth-child(2) > div.divide_com1.wd50_50 > div.left > div > table > tbody > tr:nth-child(3) > td > span') == []:
            salary.append(driver.find_element_by_css_selector('#Contents > div:nth-child(2) > div.divide_com1.wd50_50 > div.left > div > table > tbody > tr:nth-child(1) > td > span').text)
        else:
            salary.append(driver.find_element_by_css_selector('#Contents > div:nth-child(2) > div.divide_com1.wd50_50 > div.left > div > table > tbody > tr:nth-child(2) > td > span').text)
    except:
        salary.append(None)

result = pd.DataFrame()

result['회사명'] = pd.Series(name)
result['평균연봉'] = pd.Series(salary)

result.to_excel("평균연봉_캐치_나머지.xlsx", index=True)

In [42]:
result = pd.DataFrame()

result['회사명'] = pd.Series(name)
result['평균연봉'] = pd.Series(salary)

result

           회사명     평균연봉
0       (주)에스원  6,594만원
1   (주)한국코퍼레이션  3,109만원
2       (주)피알원  3,826만원
3       에스피씨그룹  5,049만원
4       스탭스(주)  3,109만원
5      (주)키스템프  3,109만원
6      서비스탑(주)  3,402만원
7         키자니아  3,109만원
8      (주)약손명가  3,813만원
9      내일투어(주)  3,310만원
10     (주)윌앤비전  3,109만원
11       (주)쏘카  3,665만원
12   (주)한국고용정보  3,109만원
13      (주)코엑스  3,109만원
14    (주)요거프레소  3,522만원
15     (주)더메인즈      NaN